@import "../constant/const";
@import "../mixtures/mixture";


@include BEM(divider){
  display: block;
  width: 100%;
  height: 1px;
  margin: 20px auto;
}
@include BEM(divider-content){
  position: absolute;
  padding: 0 20px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  transform: translateY(-50%);
}
@each $i in $theme {
  @include BEM(divider-#{$i}) {
    background-color: map-get($themeValue, $i);
    color: mix($-black-, map-get($themeValue, $i), 60%);
  }
}

@include is-when(left){
  left: 30px
}
@include is-when(center){
  left: 50%;
}
@include is-when(right){
  right: 30px
}

