@import "../mixtures/animation";
@import "../constant/const";
@import "../mixtures/mixture";

@include BEM(loading) {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2020;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .9);
}

@include element-separator(loading, circle) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(63, 249, 220);
  background: linear-gradient(0deg, rgba(0, 154, 243, .1) 33%, rgba(0, 154, 243, .2) 100%);
  animation: loader-rotate .8s linear 0s infinite;
  &:before {
    position: absolute;
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: calc(50% - 19px);
    top: calc(50% - 19px);
    background-color: hsla(0, 0%, 100%, .9);
    border-radius: 50%;
  }

}

@include BEM(loading-icon) {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@include BEM(loading__spin) {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  animation: rotate 2.0s infinite linear;
}
%loading_temporary{
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: rgba($-Primary-, .2);
  border-radius: 100%;
  animation: bounce 2.0s infinite ease-in-out;
}

@include BEM(loading-outer){
  @extend %loading_temporary
}
@include BEM(loading-inner) {
  @extend %loading_temporary
}
@include BEM(loading-inner-dot){
  top: auto;
  bottom: 0;
  background-color: rgba($-dark-, .2);
  animation-delay: -1.0s;
}
@include BEM(loading-text){
  color: $-Primary-;
}
