
@import "../mixtures/mixture";

@include BEM(roll-container){
  width: 100%;
  min-height: 480px;
  position: relative;
  overflow: hidden;
}
@include BEM(roll-main){
  position: absolute;
  left: 0;
  top: 0;
  right: -17px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  margin: 10px 0;
}
