@import "global";

.layout-header{
  display: grid;
  width: 100%;
  text-align: center;
  height: vh(56);
  grid-template-columns: calc(272px - 32px) 1fr auto;
  padding: 0 vh(32);
  border-bottom: 1px solid rgb(239, 239, 245);
  .layout-header-logo{
    cursor: pointer;
    display: flex;
    font-size: vh(28);
    align-items: center;
    img{
      width: vh(32);
      height: vh(32);
      margin-right: vh(10);
    }
  }
  .layout-header-nav{
    display: flex;
    text-align: center;
    .layout-header-nav-menu{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      li{
        padding: 0 vh(32);
      }
    }
  }
}
